<h2 class="text-center">My Blocmarks</h2>

<div class="text-right">
  <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
</div>

<br />
<% if @topics.nil? %>
  <h3>No Topics!</h3>
<% else %>
  <% @topics.each do |topic| %>
    <div class="media-heading">
      <h4 class="text-left"><u><%= link_to topic.title, topic %></u></h4>
    </div>
    <% if topic.bookmarks.nil? %>
      <p>Topic Empty!</p>
    <% else %>
      <div class="row">
        <% topic.bookmarks[0..3].each do |bookmark| %>
          <div class="col-xs-6 col-md-3">
            <%= link_to [bookmark.topic, bookmark] do %>
              <%= image_tag('http://lorempixel.com/output/abstract-q-g-200-200-9.jpg') %>
            <% end %>
            <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
          </div>
        <% end %>
      </div>
      <br />
    <% end %>
  <% end %>
<% end %>
